{% extends 'Summer_APP/base.html' %}

{% block title %}История создания - Everlasting Summer{% endblock %}

{% block content %}
<section class="content-section">
    <h2>История создания "Бесконечного лета"</h2>
    <p>Главный герой игры — одинокий молодой человек Семён.
        Он живёт за счёт случайных фрилансовых заказов и проводит большую часть своего времени в интернете на анонимных имиджбордах.
        В один зимний день Семён отправляется на встречу выпускников, садится в автобус марки «ЛиАЗ-677» 410-го маршрута, где засыпает,
        а просыпается летом в «Икарусе-256» у ворот пионерлагеря «Совёнок».
        Обнаружив, что он чудесным образом переместился не только в пространстве,
        но и во времени, попав из зимы 2009—2010 годов в лето 1980-х.
        Семён старается разобраться, как и для чего он тут очутился, почему стал выглядеть как 17-летний подросток,
        и как ему вернуться обратно в свой мир. Однако вскоре он сближается с некоторыми из жителей лагеря, и от того,
        с кем он сможет построить отношения, зависит его дальнейшая судьба. Семёна ждут семь насыщенных событиями дней,
        в течение которых ему предстоит узнать, является ли для него случившееся шансом начать новую жизнь или же наказанием,
        способным обернуться нескончаемым кошмаром. В итоге, Семён узнает, что лагерь — это временная петля,
        в которой он находится очень долго и проживает все моменты и концовки по новой. Если игрок сможет выйти на все руты,
        то в конечном итоге Семён, вероятно, выбирается из бесконечной временной петли.
        Имеется типичный для визуальных романов геймплей:
        игрок в основном занят прочтением текста поверх статичных картинок,
        время от времени направляя сюжет в нужное русло — к одной из 13 возможных концовок.
        Уже изученные сюжетные моменты можно быстро проматывать. После релиза по требованию Steam из игры были вырезаны все эротические изображения,
        но их можно вернуть с помощью выпущенного патча (имеет около 150 тысяч подписчиков в мастерской Steam).
        В ранних версиях игровые персонажи нарисованы в другом стиле по сравнению с игровыми фонами.
        Также существует множество модификаций с различными стилем повествования и жанром.
        Они дополняют сюжет игры и по-своему отвечают на некоторые вопросы основной кампании или рассказывают новые истории..</p>
</section>
{% endblock %}
